<%- model_class = SecretCode -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:code) %></th>
      <th><%= model_class.human_attribute_name(:email) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @secret_codes.each do |secret_code| %>
      <tr>
        <td><%= link_to secret_code.id, secret_code_path(secret_code) %></td>
        <td><%= secret_code.code %></td>
        <td><%=secret_code.user.email rescue 'N/A' %></td>
        <td>
          <%= link_to 'Show', secret_code, :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      secret_code_path(secret_code),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_secret_code_path,
            :class => 'btn btn-primary' %>
<%= link_to t('.home', :default => t("helpers.links.home")),
            root_path,
            :class => 'btn btn-primary' %>
